// Reusable mixins
// 

@mixin font-face($name, $path) {
    @font-face {
        font-family: $name;
        src: url($path + '.eot');
        src: url($path + '.eot?#iefix') format('embedded-opentype'),
        url($path + '.woff') format('woff'),
        url($path + '.ttf') format('truetype'),
        url($path + '.svg#' + $name) format('svg');
        font-weight: normal;
        font-style: normal;
    }
}

@mixin prefix($name, $properties...) {
    @each $vendor in ('-webkit-', '-moz-', '-ms-', '-o-', '') {
        #{$vendor}#{$name}: $properties;
    }
}

@mixin selection {
    ::-moz-selection {
        @content;
    }
    ::selection {
        @content;
    }
}
