// Reusable mixins
// 

@mixin font-face($name, $path) {
    @font-face {
        font-family: $name;
        src: url($path + '.eot');
        src: url($path + '.eot?#iefix') format('embedded-opentype'),
        url($path + '.woff') format('woff'),
        url($path + '.ttf') format('truetype'),
        url($path + '.svg#' + $name) format('svg');
        font-weight: normal;
        font-style: normal;
    }
}

@mixin transition($property, $duration, $easing: ease, $delay: 0s) {
    -webkit-transition: $property $duration $easing $delay;
       -moz-transition: $property $duration $easing $delay;
         -o-transition: $property $duration $easing $delay;
        -ms-transition: $property $duration $easing $delay;
            transition: $property $duration $easing $delay;
}

@mixin transition-property($properties...) {
    -webkit-transition-property: $properties;
       -moz-transition-property: $properties;    
         -o-transition-property: $properties;   
        -ms-transition-property: $properties;
            transition-property: $properties;
}

@mixin box-shadow($left, $top, $blur, $spread, $color) {
    -webkit-box-shadow: $left $top $blur $spread $color;
            box-shadow: $left $top $blur $spread $color;
}

@mixin selection {
    ::-moz-selection {
        @content;
    }
    ::selection {
        @content;
    }
}
