---
layout: default
title: Articles
group: nav
weight: 1
---

<main>
    <section class="posts">
        {% for post in site.posts %}
        <article>
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            {% include postmeta.html post=post content=post.content %}

            <section class="post excerpt">
            {{ post.content | truncatewords: 50 }}
            </section>
            <section class="readmore">
                <a href="{{ post.url }}">Continue reading &rarr;</a>
            </section>
        </article>
        {% endfor %}
    </section>
</main>
