---
layout: default
title: Projects
group: nav
weight: 2
---

<main class="projects">
    {% for project in site.data.projects %}
    <section class="project project-{{ project.class }}">
        <h2 class="project-name">
            <a class="no-smoothstate" href="{{ project.url }}">{{ project.name }}</a>
        </h2>
        <section class="project-detail">
            <section class="project-image">
                <a class="no-smoothstate" href="{{ project.url }}">
                    <img alt="{{ project.name }}" src="/assets/img/projects/{{ project.img }}">
                </a>
            </section>
            <section class="project-desc">
                <section class="project-desc-text">
                    {{ project.desc | markdownify }}
                </section>

                {% if project.code_url %}
                <section class="project-code">
                    <a class="link-button no-smoothstate" href="{{ project.code_url }}">
                        <i class="fa fa-code"></i> Source Code
                    </a>
                </section>
                {% endif %}
            </section>
        </section>
    </section>
    {% endfor %}
</main>
