{{ define "main" }}
<main class="projects">
  {{ range .Site.Data.projects }}
  <section class="project project-{{ .class }}">
    <h2 class="project-name">
      {{ if .url }}
        <a class="no-smoothstate" href="{{ .url }}">{{ .name }}</a>
      {{ else }}
        {{ .name }}
      {{ end }}
    </h2>
    <section class="project-detail">
      <section class="project-image">
        {{ if .url }}
          <a class="no-smoothstate" href="{{ .url }}">
            <img alt="{{ .name }}" src="/img/projects/{{ .img }}">
          </a>
        {{ else }}
          <img alt="{{ .name }}" src="/img/projects/{{ .img }}">
        {{ end }}
      </section>
      <section class="project-desc">
        <section class="project-desc-text">
          {{ .desc | markdownify }}
        </section>

        <section class="project-links">
          {{ if .url }}
            <div>
              <a class="link-button no-smoothstate" href="{{ .url }}">
                  <i class="fa fa-link"></i> View Project
              </a>
            </div>
          {{ end }}
          {{ if .code_url }}
            <div>
              <a class="link-button no-smoothstate" href="{{ .code_url }}">
                  <i class="fa fa-code"></i> Source Code
              </a>
            </div>
          {{ end }}
        </section>
      </section>
    </section>
  </section>
  {{ end }}
</main>
{{ end }}
