@import 'reset';
@import 'font-awesome/font-awesome';
@import 'mixins';
@import 'variables';

// Base
//
*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

@include selection {
    background: lighten($primary-color, 8);
    color: $body-color;
}

html {
    background-color: black;
    background: url($background-image-url);
}

body {
    color: $body-color;
    font: {
        size: 100%;
        family: $text-font-stack;
    }
}

a,
label,
button,
input[type="radio"],
input[type="submit"],
input[type="checkbox"] {
    cursor: pointer;
}

button[disabled],
input[disabled] {
    cursor: default;
}

a {
    color: $contrast-color;
    text-decoration: none;
    display: inline-block;
    position: relative;

    @include prefix(transition, all 0.5s ease-out);
    @include prefix(transition-property, color, text-shadow);

    &:hover, &:focus {
      color: lighten($contrast-color, 2);
      text-shadow: 0 0 5px $contrast-color;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 0%;
      height: 100%;

      border-bottom: 2px solid $contrast-color;
      @include prefix(transition, width 0.3s ease);
    }

    // Order matters: 'before' is a pseudo-element, whereas 'hover' is
    // a pseudo-class
    &:hover:after, &:focus:after {
      left: 0;
      width: 100%;
    }
}

pre {
    padding: 1rem;
    white-space: pre;
    border-radius: 1rem;
    border: 1px solid lighten($dark-color, 11);
    background-color: $dark-color;
    margin-bottom: 1rem;
    @include prefix(transition, border-radius 0.2s ease-in-out);

    &:hover {
        border-radius: 0;
    }
}

code {
    font-family: $mono-font-stack;
}

img {
    padding: 2rem;
    @include prefix(box-shadow, 0 1px 3px 1px $dark-color);

    @media screen and (max-width: 600px) {
        padding: 1rem;
    }
}

p {
    margin-bottom: 1rem;
}

blockquote {
    font-style: italic;
    margin: 2rem 0;
    padding: 0 2rem;
    position: relative;
    color: $lowlight-color;

    &:before {
        display: block;
        content: '\201C';
        font-size: 5rem;
        position: absolute;
        left: -1rem;
        top: -1.2rem;
        color: lighten($lowlight-color, 30);
    }

    cite {
        color: lighten($body-color, 20);
        font-size: 1rem;
        display: block;

        &:before {
            content: '\2014 \2009';
        }
    }
}

h1, h2, h3 {
    margin-bottom: 1rem;
}

h1 {
    font-size: 2.1rem;

    @media screen and (max-width: 600px) {
        font-size: 1.8rem;
    }
}

h2 {
    font-size: 1.7rem;

    @media screen and (max-width: 600px) {
        font-size: 1.4rem;
    }
}

h3 {
    font-size: 1.4rem;

    @media screen and (max-width: 600px) {
        font-size: 1.2rem;
    }
}

h1[id] a, h2[id] a, h3[id] a {
    color: $lowlight-color;
    position: relative;

    &:hover, &:focus {
        color: $lowlight-color;
        text-shadow: 0 0 5px $lowlight-color;
        border-bottom: 2px solid $lowlight-color;
    }

    @media screen and (min-width: 1024px) {
        &:before {
            content: '\00B6'; // Pilcrow
            display: block;
            position: absolute;
            left: -1.5rem;
            color: rgba($lowlight-color, 0);

            @include prefix(transition, color 0.5s ease-out);
        }

        // Order matters: 'before' is a pseudo-element, whereas 'hover' is
        // a pseudo-class
        &:hover:before, &:focus:before {
            color: rgba($lowlight-color, 1);
        }
    }
}

@include keyframes(fadein) {
    0% {
        opacity: 0;
        @include prefix(transform, translate3d(0, 3rem, 0));
    }

    30% {
        opacity: 0;
        @include prefix(transform, translate3d(0, 2rem, 0));
    }

    100% {
        opacity: 1;
        @include prefix(transform, none);
    }
}

.smooth-scene {
    .scene-element {
        @include prefix(animation-duration, 0.3s);
        @include prefix(transition-timing-function, ease-in);
        @include prefix(animation-fill-mode, both);

        &.scene-element--fadein {
            @include prefix(animation-name, fadein);
        }
    }

    &.is-exiting .scene-element {
        @include prefix(animation-direction, reverse);
    }
}

.scroll-button {
    opacity: 0;
    position: absolute;

    @include prefix(transition, opacity 0.5s ease-in-out);

    &.active {
        opacity: 1;
    }

    a {
        border: none;
    }

    @media screen and (max-width: 1200px) {
        display: none;
    }
}

.site-container {
    font-size: 1.3rem;
    max-width: $max-width;
    margin: 0 auto;

    @media screen and (max-width: 1024px) {
        width: 100%;
    }

    @media screen and (max-width: 600px) {
        font-size: 1.1rem;
    }
}

.link-button {
    padding: 0.5rem 0.7rem 0.7rem 0.7rem;

    border: 1px solid darken($primary-color, 10);
    border-radius: 0.3rem;
    background-color: lighten($primary-color, 3);
    color: lighten($lowlight-color, 20);
    @include prefix(transition, all 0.2s ease-in-out);
    @include prefix(transition-property, color, border-radius, background-color, box-shadow);

    &:hover, &:focus {
      background-color: lighten($primary-color, 8);
      color: #ECF9FD;
      @include prefix(box-shadow, 0 0 1px 4px $dark-color, 0 0 2px 6px lighten($primary-color, 8));
    }
    &:active {
      background-color: $primary-color;
      @include prefix(box-shadow, 0 0 1px 4px $primary-color, 0 0 2px 6px $primary-color);
      border: 1px solid $primary-color;
      @include prefix(transition-duration, 0.1s);
    }
    &:after {
      display: none;
    }
}


// Header
//
.header-box {
  background-color: $dark-color;
  border-bottom: 1px solid darken($primary-color, 5);
}

@include keyframes(rotatecw) {
    0% {
        @include prefix(transform, rotate(0deg));
    }
    100% {
        @include prefix(transform, rotate(360deg));
    }
}
@include keyframes(rotateccw) {
    0% {
        @include prefix(transform, rotate(360deg));
    }
    100% {
        @include prefix(transform, rotate(0deg));
    }
}

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    text-transform: uppercase;

    @media screen and (max-width: 600px) {
        flex-flow: row wrap;
    }

    .title {
        position: relative;
        flex: initial;
        margin-bottom: 0;

        font-family: $title-font-stack;
        font-size: $header-font-size;
        font-weight: bold;

        @media screen and (max-width: 1024px) {
            font-size: 3rem;
        }

        @media screen and (max-width: 600px) {
            font-size: 2rem;
        }

        .spin {
          position: absolute;

          @include prefix(transition, all 0.3s);
          @include prefix(animation-iteration-count, infinite);
          @include prefix(animation-timing-function, linear);
          border: 1px solid rgba($lowlight-color, 0);

          left: 25%;
          top: -30%;
          width: 40px;
          height: 40px;
        }
        .cw {
          @include prefix(animation-name, rotatecw);
          @include prefix(animation-duration, 2s);
        }
        .ccw {
          @include prefix(animation-name, rotateccw);
          @include prefix(animation-duration, 3s);
        }
        &:hover .spin, &:focus .spin {
          border: 1px solid rgba($lowlight-color, 0.7);
          @include prefix(box-shadow, 0 0 5px 0 rgba($lowlight-color, 0.7), inset 0 0 2px 0 rgba($lowlight-color, 0.7));
        }

        a {
            color: $secondary-color;
            border-bottom: none;

            &:hover, &:focus {
                color: lighten($secondary-color, 15);
                text-shadow: 0 0 10px $secondary-color;
            }
            &:after {
              display: none;
            }
        }
    }

    .nav-toggle {
        cursor: pointer;
        position: relative;
        z-index: 1;
        display: none;
        padding: 0.6rem;
        border: 1px solid darken($primary-color, 5);
        border-radius: 0.4rem;
        margin-right: 1rem;
        top: -0.7rem;
        background-color: $primary-color;

        @media screen and (max-width: 600px) {
            display: block;
        }

        &:after {
            content: '\f0c9';
            display: block;
            height: 1rem;
            width: 1rem;
            font-family: FontAwesome;
            text-align: center;
        }
    }

    .nav-checkbox {
        position: absolute;
        top: -99rem;
        left: -99rem;

        &:checked ~ .nav-toggle:after {
            content: '\f068';
        }

        &:checked ~ nav {
            max-height: 8rem;
            margin-bottom: 1rem;
        }
    }

    nav {
        flex: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: $header-font-size;

        position: relative;
        top: -0.7rem;

        @media screen and (max-width: 600px) {
            overflow: hidden;
            flex: 1 100%;
            margin-bottom: 0rem;
            max-height: 0rem;
            @include prefix(transition, all 0.7s ease-in-out);
            @include prefix(transition-property, max-height, margin-bottom);
        }

        ul {
            display: inline-flex;
            flex-flow: row nowrap;

            @media screen and (max-width: 600px) {
                display: flex;
                width: 100%;
                flex-direction: column;
                text-align: center;
                border-top: 1px solid $lowlight-color;
                border-bottom: 1px solid $lowlight-color;
            }

            li {
                display: inline;
                margin: 1.25rem;
                margin-bottom: 0;

                a {
                  color: $light-color;
                  border-bottom-color: rgba($light-color, 0);
                  &:hover, &:focus {
                      color: lighten($primary-color, 15);
                      text-shadow: 0 0 5px $primary-color;
                      border-bottom-color: rgba($primary-color, 1);
                  }
                  &:after {
                    border-bottom: 2px solid $primary-color;
                  }
                }
                &.active a {
                    color: lighten($primary-color, 15);
                    &:hover, &:focus {
                        color: lighten($primary-color, 15);
                        text-shadow: 0 0 5px $primary-color;
                        border-bottom-color: rgba($primary-color, 1);
                    }
                    &:after {
                      border-bottom: 2px solid $primary-color;
                    }
                }

                @media screen and (max-width: 1024px) {
                    margin: 1.2rem;
                }
                @media screen and (max-width: 750px) {
                    margin: 0.6rem;
                }
                @media screen and (max-width: 600px) {
                    background-color: $dark-color;
                    background-color: rgba($dark-color, 0.75);
                    padding: 0.5rem;
                    margin: 0rem;
                    border-top: 1px solid $lowlight-color;
                    border-bottom: 1px solid $lowlight-color;

                    a {
                        color: lighten($lowlight-color, 20);
                        display: block;
                        width: 100%;
                        border-bottom: none;
                    }

                    &.active {
                        background-color: darken($primary-color, 0);
                        border-top: 1px solid darken($primary-color, 20);
                        border-bottom: 1px solid darken($primary-color, 20);

                        a {
                            color: lighten($lowlight-color, 30);
                        }
                    }
                }
            }
        }

        &.social-nav {
          flex: 0;

          li {
            margin: 1.25rem 0.25rem;
            margin-bottom: 0;
          }

          a {
            border-bottom: none;
            color: $secondary-color;

            &:hover, &:focus {
                color: lighten($secondary-color, 15);
                text-shadow: 0 0 5px $secondary-color;
            }
            &:after {
              display: none;
            }
          }
        }
    }
}

// Footer
//
footer {
  margin: 2rem 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  a {
      &:after {
        display: none;
      }
  }
}

// Main
//
main {
  margin: 2rem 0;
}

// Index
//
.posts {
    article {
        > h2 a {
            color: $lowlight-color;
            border-bottom: none;
            &:hover, &:focus {
                text-shadow: 0 0 5px $lowlight-color;
            }
        }
    }

    .readmore {
        font-size: 1.2rem;
        text-align: right;
        margin-bottom: 0.8rem;
    }
}

// Code
//
.projects {
    .project {
        background-color: $dark-color;
        background-color: rgba($dark-color, 0.5);
        padding: 1.5rem;
        border-bottom: 2px solid $primary-color;
        @include prefix(transition, box-shadow 0.5s ease-out);

        &:hover, &:focus {
            @include prefix(box-shadow, 0 0 5px 1px $primary-color);
        }

        > h2 {
            text-align: center;
            font-size: 1.8rem;
        }

        @media screen and (max-width: 600px) {
            padding: 0.5rem;
        }
    }

    .project-detail {
        display: flex;
        flex-flow: row nowrap;

        @media screen and (max-width: 750px) {
            flex-direction: column;
        }

        .project-image {
            flex: 1.61;
            padding: 1rem;

            a, img {
              width: 100%;
            }
            img {
                padding: 0;
            }

            @media screen and (max-width: 600px) {
                padding: 0.5rem;
            }
        }

        .project-desc {
            flex: 1;
            padding: 1rem;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-around;

            .project-links {
                padding: 2rem 0;
                text-align: center;
                div {
                  padding: 0.5rem;
                }
                a {
                  margin: 0 0.5rem;
                }
            }

            @media screen and (max-width: 600px) {
                padding: 0.5rem;
            }
        }
    }
}

// Writing
//
.writing {
  .writing-blurb {
    background-color: $dark-color;
    background-color: rgba($dark-color, 0.5);

    border-bottom: 1px solid $primary-color;
    padding: 2rem 10rem;
    text-align: center;

    .writing-title {
      font-size: 1.9rem;
      margin-bottom: 1rem;
    }

    .writing-description blockquote {
      margin: 1.5rem 0;
      padding: 0 4rem;
    }

    .writing-words, .writing-tags {
      text-align: right;
      font-size: 1.15rem;
      font-style: italic;
      color: lighten($lowlight-color, 15);
    }
  }
}
.writing-single {
  background-color: $dark-color;
  background-color: rgba($dark-color, 0.5);

  line-height: 1.5;
  padding: 1rem;

  .writing-title {
    text-align: center;
    color: lighten($lowlight-color, 15);
  }
  hr {
    border-color: $lowlight-color;
  }

  .writing-text {
    padding: 1rem;
  }
}

// Art
//
.art {
    .art-piece {
        background-color: $dark-color;
        background-color: rgba($dark-color, 0.5);

        display: flex;
        flex-flow: row nowrap;
        border-bottom: 1px solid $primary-color;
        padding: 2rem 0;

        @media screen and (max-width: 750px) {
            flex-direction: column;
        }

        .art-image {
            flex: 2.59;
            padding: 1rem;

            a, img {
              width: 100%;
            }
            img {
                padding: 0;
            }

            @media screen and (max-width: 600px) {
                padding: 0.5rem;
            }
        }

        .art-desc {
            flex: 1;
            .art-title {
              font-style: italic;
            }
            .art-desc-text {
              padding: 2.5rem 1rem;

              @media screen and (max-width: 600px) {
                  padding: 0.5rem;
              }
            }
        }
    }
}

// Me
//
.me {
    padding: 0 6rem;

    @media screen and (max-width: 600px) {
        padding-bottom: 1rem;
    }

    h2 {
        color: lighten($lowlight-color, 10);
        font-size: 3rem;
        text-align: center;

        @media screen and (max-width: 600px) {
            font-size: 2rem;
        }
    }

    hr {
        border-color: $lowlight-color;
        margin-bottom: 2rem;
    }

    .name {
      color: $secondary-color;
    }

    .keyword {
      color: lighten($lowlight-color, 5);
    }
}

// Post
//
article {
    > h2 {
        font-size: 2.2rem;
        color: $lowlight-color;
        border-bottom: 2px solid desaturate(darken($lowlight-color, 25), 10);
        margin-bottom: 0.4rem;

        @media screen and (max-width: 600px) {
            font-size: 1.5rem;
        }
    }

    > .meta {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        font-size: 0.9rem;

        .meta-separator {
            margin: 0 0.5rem;

            @media screen and (max-width: 600px) {
                display: none;
            }
        }

        .read-time {
            @media screen and (max-width: 600px) {
                display: none;
            }
        }

        .tags {
            text-align: right;
            color: $lowlight-color;

            .tag {
                margin: 0 0.2rem;
            }
        }
    }

    .post {
        ul, ol {
            margin-left: 2.5rem;
            margin-bottom: 1rem;

            @media screen and (max-width: 600px) {
                margin-left: 1.2rem;
            }
        }
        ul {
            list-style-type: square;
        }
        ol {
            list-style-type: decimal;
        }
    }
}

.footnotes {
    font-size: 1.2rem;
    color: darken($body-color, 15);
}

.err404 {
    h2 {
        color: $lowlight-color;
        font-size: 2.8rem;
        text-align: center;
    }
}
