{{ define "main" }}
<main class="writing writing-list">
  {{ range .Pages }}
    <section class="writing-blurb">
      <section class="writing-title">
        <a href="{{.Permalink}}">{{.Title}}</a>
      </section>
      {{ if .Description }}
      <section class="writing-description">
        <blockquote>{{ .Description | markdownify }}</blockquote>
      </section>
      {{ end }}
      {{ if .Params.tags }}
      <section class="writing-tags">
        {{ delimit .Params.tags ", " }}
      </section>
      {{ end }}
      <section class="writing-submeta">
        <section class="writing-date">
          {{ .Date | dateFormat "January, 2006" }}
        </section>
        <section class="writing-words">
          {{ .ReadingTime }} min&nbsp;·&nbsp;{{ .WordCount }} words
        </section>
      </section>
    </section>
  {{ end }}
</main>
{{ end }}
