// Reusable mixins
// 

@mixin font-face($name, $path) {
    @font-face {
        font-family: $name;
        src: url($path + '.eot');
        src: url($path + '.eot?#iefix') format('embedded-opentype'),
        url($path + '.woff') format('woff'),
        url($path + '.ttf') format('truetype'),
        url($path + '.svg#' + $name) format('svg');
        font-weight: normal;
        font-style: normal;
    }
}

@mixin transition($property, $duration, $easing: ease, $delay: 0s) {
    -webkit-transition: $property $duration $easing $delay;
       -moz-transition: $property $duration $easing $delay;
         -o-transition: $property $duration $easing $delay;
        -ms-transition: $property $duration $easing $delay;
            transition: $property $duration $easing $delay;
}
