@import 'reset';
@import 'modules';
@import 'variables';

@include font-face($title-font-family, $title-font-url);

// Base
//
html {
    background: url($background-image-url);
}

body {
    color: $default-color;
    font: {
        size: 100%;
        family: $text-font-stack;
    }
}

a {
    color: $secondary-color;
    text-decoration: none;
}

// Separated out, because otherwise certain browsers will try to
// do the transition from the reset style -> current style on load
a {
    @include transition(all, 0.5s, ease-out);
}

a:hover {
    color: lighten($secondary-color, 15);
    text-decoration: underline;
    text-shadow: 0 0 5px $secondary-color;
}

pre {
    padding: 1rem;
}

code {
    font-family: $mono-font-stack;
}

p {
    margin-bottom: 1rem;
}

.site {
    font-size: 1.3rem;
    width: 60rem;
    margin: 0 auto;
    padding: 1rem;

    @media screen and (max-width: 980px) {
        width: 100%;
    }
}

// Header
//
header {
    @media screen and (max-width: 480px) {
    }

    .title {
        display: inline;

        font: {
            family: $title-font-stack;
            size: 4rem;
        }

        a {
            color: $primary-color;
            padding: 0 1.5rem;
            
            &:hover {
                color: lighten($primary-color, 15);
                text-shadow: 0 0 10px $primary-color;
                text-decoration: none;
            }
        }
    }

    nav {
        display: inline;
        margin-left: 4rem;
        text-align: right;
        position: relative;
        top: -0.5rem;

        ul {
            display: inline;
            li {
                display: inline;
                margin: 1rem;
            }
        }

        a {
            font-weight: bold;
        }
    }
}

// Footer
//
footer {
    hr {
        border-color: desaturate($secondary-color, 10);
    }
}

// Index
.posts {
    article {
        > h2 a {
            color: $lowlight-color;
            text-decoration: none;
            &:hover {
                text-shadow: 0 0 5px $lowlight-color;
            }
        }
    }
}

// Post
//
article {
    > h2 {
        font-size: 2.2rem;
        color: $lowlight-color;
        border-bottom: 2px solid desaturate(darken($lowlight-color, 25), 10);
        margin-bottom: 0.4rem;
    }

    > .meta {
        font-size: 0.9rem;
    }

    .post {
        ul, ol {
            margin-left: 1.35rem;
        }

        h1, h2, h3 {
            margin-bottom: 1rem;
        }

        h1 {
            font-size: 2rem;
        }

        h2 {
            font-size: 1.5rem;
        }

        h3 {
            font-size: 1.3rem;
        }
    }
}

.highlight {
    border-radius: 1rem;
    border: 2px solid lighten($dark-color, 11);
    background-color: $dark-color;
    margin-bottom: 1rem;
    @include transition(all, 0.2s, ease-in-out);

    &:hover {
        border-radius: 0;
    }
}
