<!DOCTYPE html>
<html>
  <head>
    {{- partial "head.html" . -}}
    {{ block "head" . }}{{ end }}
  </head>
  <body>
    {{- partial "header.html" . -}}
    {{- block "parent-container" . }}
    <section id="main" class="parent-content site-container smooth-scene">
      <section class="scene-element scene-element--fadein">
        {{- block "main" . }}{{ .Content }}{{- end }}
        {{- block "footer" . }}{{- partial "footer.html" . -}}{{- end }}
      </section>
    </section>
    {{- end }}
  </body>
</html>
