<!DOCTYPE html>
<html>
  <head>
    {{- partial "head.html" . -}}
    {{ block "head" . }}{{ end }}
  </head>
  <body>
    <section id="main" class="smooth-scene">
      {{- partial "header.html" . -}}
      {{- block "site-container" . }}
      <section class="site-container">
        <section class="parent-content scene-element scene-element--fadein">
          {{- block "main" . }}{{ .Content }}{{- end }}
          {{- block "footer" . }}{{- partial "footer.html" . -}}{{- end }}
        </section>
      </section>
      {{- end }}
    </section>
  </body>
</html>
