<header>
  <h1 class="title"><a href="/">{{ .Site.Title }}</a></h1>
  <input type="checkbox" id="nav-checkbox" class="nav-checkbox" role="button">
  <label for="nav-checkbox" class="nav-toggle" onclick></label>
  <nav>
    <ul>
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
      <li class="{{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}active{{ end }}">
        <a href="{{ .URL }}" title="{{ .Name }}">{{ .Name }}</a>
      </li>
      {{ end }}
    </ul>
  </nav>
</header>
