<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if page.url == '/index.html' %}
        <title>{{ site.name }}</title>
        {% else %}
        <title>{{ page.title }} | {{ site.name }}</title>
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/assets/css/main.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu+Mono%3A400%2C700%2C400italic%2C700italic%7CUbuntu%3A400%2C700%2C400italic%2C700italic">
        {% for css_url in page.extra_css %}
        <link rel="stylesheet" href="{{ css_url }}">
        {% endfor %}

        {% include analytics.html %}
    </head>
    <body>

        <section id="main" class="site smooth-scene">
            <header>
                <h1 class="title"><a href="/">{{ site.name }}</a></h1>
                <input type="checkbox" id="nav-checkbox" class="nav-checkbox" role="button">
                <label for="nav-checkbox" class="nav-toggle" onclick></label>
                <nav>
                    {% include pagelist.html group="nav" %}
                </nav>
            </header>

            <section class="scene-element scene-element--fadein">
                {{ content }}

                <footer>
                    <hr>
                    <section class="footer-links">
                        <section class="links">
                            <a href="mailto:zaven@voithos.io"><i class="fa fa-envelope fa-2x"></i></a>
                            <a href="https://twitter.com/voithoz"><i class="fa fa-twitter fa-2x"></i></a>
                        </section>
                        <section class="license">
                            <a href="http://creativecommons.org/licenses/by/4.0/">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle-o fa-stack-2x"></i>
                                    <i class="fa fa-stack-1x cc">CC</i>
                                </span>
                            </a>
                        </section>
                        <section class="links">
                            <a href="https://github.com/voithos/"><i class="fa fa-github fa-2x"></i></a>
                            <a href="http://stackoverflow.com/users/716118/voithos"><i class="fa fa-stack-overflow fa-2x"></i></a>
                        </section>
                    </section>
                </footer>
            </section>
        </section>

        <section class="scroll-button">
            <a href="#"><i class="fa fa-chevron-up fa-2x"></i></a>
        </section>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/assets/js/lib/jquery-2.1.1.min.js"><\/script>');</script>
        <script src="/assets/js/lib/jquery.smoothState.js"></script>
        <script src="/assets/js/main.js"></script>

        {% for js_url in page.extra_js %}
        <script src="{{ js_url }}"></script>
        {% endfor %}
    </body>
</html>
