<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/assets/css/syntax.css">
        <link rel="stylesheet" href="/assets/css/main.css">
        <link rel="stylesheet href="http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic|Ubuntu:400,700,400italic,700italic">
    </head>
    <body>

        <section class="site">
            <header>
                <h1 class="title"><a href="/">{{ site.name }}</a></h1>
                <nav>
                    <ul>
                        <li><a href="/">Articles</a></li>
                        <li><a href="/projects.html">Projects</a></li>
                        <li><a href="/about.html">About</a></li>
                    </ul>
                </nav>
            </header>

            {{ content }}

            <footer>
                <hr>
                <a href="mailto:zaven@skepsi.me">zaven@skepsi.me</a>
            </footer>
        </section>

    </body>
</html>
