{{ define "parent-content-class" }}articles-list-parent{{ end }}
{{ define "main" }}
<main class="articles articles-list">
  {{ range .Paginator.Pages }}
    <article class="article-blurb">
      <section class="article-title">
        <a href="{{.Permalink}}">{{.Title}}</a>
        {{- if .Draft }}<sup><span class="article-draft">&nbsp;&nbsp;[draft]</span></sup>{{- end }}
      </section>
      {{ if .Description }}
      <section class="article-description">
        {{ .Description | markdownify }}
      </section>
      {{ end }}
      <div class="article-meta">
        <section class="article-stats">
          {{ .Date | dateFormat ":date_long" }}&nbsp;·&nbsp;{{ .ReadingTime }} min&nbsp;·&nbsp;{{ .WordCount }} words
        </section>
        {{ if .Params.tags }}
        <section class="article-tags">
          {{ range .Params.tags }}
            <span class="article-tag pill">{{ . }}</span>
          {{ end }}
        </section>
        {{ end }}
      </div>
    </article>
  {{ end }}

  {{- if gt .Paginator.TotalPages 1 }}
    <nav class="pagination">
      {{- if .Paginator.HasPrev }}
        <span class="prev">
          <a href="{{ .Paginator.Prev.URL | absURL }}">
            «&nbsp;Newer&nbsp;
          </a>
        </span>
      {{- end }}
      {{- if .Paginator.HasNext }}
        <span class="next">
          <a href="{{ .Paginator.Next.URL | absURL }}">
            &nbsp;Older&nbsp;»
          </a>
        </span>
      {{- end }}
    </nav>
  {{- end }}

  <section class="extra-links">
    <div class="left">
    〈&nbsp;<a class="primary" href="">Archive</a>
    </div>
    <div class="center">
      ｜<a class="primary" href="">Tags</a>｜
    </div>
    <div class="right">
      <a class="primary" href="">RSS Feed</a>&nbsp;〉
    </div>
  </section>
</main>
{{ end }}
