{{ define "parent-content-class" }}articles-list-parent{{ end }}
{{ define "main" }}
<main class="articles articles-list">
  {{ range .Paginator.Pages }}
    <article class="article-blurb">
      <div class="article-title-box">
        <section class="article-title">
          <a href="{{.Permalink}}">{{.Title}}</a>
          {{- if .Draft }}<sup><span class="article-draft">&nbsp;&nbsp;[draft]</span></sup>{{- end }}
        </section>
        {{ if .Params.articleNumber }}
          <span class="article-number">#{{ .Params.articleNumber }}</span>
        {{ else }}
          {{ warnf "Article %s does not have a valid article number" .Title }}
        {{ end }}
      </div>
      {{ if .Description }}
      <section class="article-description">
        {{ .Description | markdownify }}
      </section>
      {{ end }}
      {{ partial "article_meta.html" . }}
    </article>
  {{ end }}

  {{- if gt .Paginator.TotalPages 1 }}
    <nav class="pagination">
      {{- if .Paginator.HasPrev }}
        <span class="prev">
          <a href="{{ .Paginator.Prev.URL | absURL }}">
            «&nbsp;Newer&nbsp;
          </a>
        </span>
      {{- end }}
      {{- if .Paginator.HasNext }}
        <span class="next">
          <a href="{{ .Paginator.Next.URL | absURL }}">
            &nbsp;Older&nbsp;»
          </a>
        </span>
      {{- end }}
    </nav>
  {{- end }}

  <section class="extra-links">
    <div class="left">
    〈&nbsp;<a class="primary" href="/archive">Archive</a>
    </div>
    <div class="center">
      ｜
    </div>
    <div class="right">
      <a class="primary" href="/articles/feed.xml">RSS Feed</a>&nbsp;〉
    </div>
  </section>
</main>
{{ end }}
