{{ define "main" }}
<main class="article article-single">
  <section class="article-body">
    <div class="article-title-box">
      <h1 class="article-title">{{ .Title }}</h1>
      {{ if .Params.articleNumber }}
        <span class="article-number">#{{ .Params.articleNumber }}</span>
      {{ else }}
        {{ warnf "Article %s does not have a valid article number" .Title }}
      {{ end }}
    </div>
    {{ if .Description }}
    <section class="article-description">
      {{ .Description | markdownify }}
    </section>
    {{ end }}
    {{ partial "article_meta.html" . }}
    <hr>
    {{ .Content }}
  </section>
</main>
{{ end }}
