{{ define "main" }}
<main class="art">
  {{ range .Site.Data.art }}
  <section class="art-piece">
    <section class="art-image">
      <img alt="{{ .name }}" src="/img/art/{{ .img }}" loading="lazy">
    </section>
    <section class="art-desc">
      <section class="art-desc-text">
        <h4 class="art-title">{{ .name }}</h4>
        {{ .desc | markdownify }}
        <br>
        –<span class="art-date">{{ .date | dateFormat "January, 2006" }}</span>
      </section>
    </section>
  </section>
  {{ end }}
</main>
{{ end }}
